# docker compose automatically reads this file when it is in the same directory
# as docker-compose.yml.
# Local / LAN testing configuration.
# Skip token verification.
SKIP_TOKEN_VERIFY=true
# Address players use to reach each per-cluster API server.
PUBLIC_HOST=<your Kubernetes ip>
